<div class="col-sm-4 col-xs-12">
  <div class="productBox">
    <div class="productImage clearfix">
      <%= link_to image_tag(product.display_image.attachment.url(:small)), potepan_product_path(product.id) %>
    </div>
    <div class="productCaption clearfix">
      <%= link_to potepan_product_path(product.id) do %>
        <h4><%= product.name %></h4>
        <h3><%= product.display_price %></h3>
      <% end %>
    </div>
  </div>
</div>
