<%= render 'layouts/light_section', title: @taxon.name %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'potepan/categories/taxonomies', taxonomies: @taxonomies %>
        <%= render 'potepan/categories/search' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/categories/filters' %>
        <div class="row">
          <%= render partial:'potepan/categories/product_images', collection: @products, as: "product" %>
        </div>
      </div>
    </div>
  </div>
</section>
