<!-- <link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="css/colors/default.css" id="option_color"> -->
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application", :media => "all" %>

<!-- GOOGLE FONT -->
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
